// transition animations

.fade-slide-in-enter-active,
.fade-slide-in-leave-active {
  transition: all 0.5s;
}
.fade-slide-in-enter,
.fade-leave-to {
  transform: translateY(100px);
  opacity: 0;
}
.posts-list-transition-move {
  transition: transform 0.5s;
}

.time-travel-item {
  transition: all 0.3s;
}
.time-travel-enter,
.time-travel-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.time-travel-leave-active {
  position: absolute;
}
