//skewed background component
.skewed-background {
  transform: skewY(-8deg) translateY(-84vh);
  animation-name: skewedBackgroundAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@keyframes skewedBackgroundAnimation {
  from {
    opacity: 0;
    transform: skewY(-8deg) translateY(-78px);
  }
  to {
    opacity: 1;
    transform: skewY(-8deg) translateY(-84vh);
  }
}
